tr, td {
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 0px;
  border: 1px solid black;
}

table {
  width: 90%;
  margin: auto;
  margin-left: 0;
  margin-top: 30px;
  table-layout: fixed;
  min-height: 300px;
  background-color: rgb(230, 230, 230);
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  vertical-align: top;
  font-size: 10px;
}

td::first-line {
  font-size: 13px;
}

th {
  border: hidden;
  border-bottom: 1px solid black;
  background-color: white;
  font-weight: 500;
}

tr[scope="hour"] {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgb(48, 48, 48);
  vertical-align: bottom;
}

th[scope="day"] {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  color: #636363;
  border-right: 1px solid black;
  border-bottom: 1px solid white;
}

#mon {
  color: black;
}

#third {
  border-bottom: 2px solid grey;
}

.block {
  background-color: rgb(222, 228, 240);
}

#fri {
  border-bottom: hidden;
}

col.first {
  border-right: none;
}

col.second {
  border-left: 2px dashed gray;
}

col.das {
  border-left: 2px dashed gray;
}

colgroup.other {
  border-right: 2px solid grey;
}

/* 5. zad */

.navbar {
  position: relative;
}

ul {
  border: 1px solid #e7e7e7;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  display: block;
  font-family: 'Castoro', serif;
  font-size: 15px;
  line-height: 1.5;
}

ul li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a.active {
  color: white;
  background-color: #008CBA;
}

li {
  float: left;
}

ul li a:hover:not(.active) {
  background-color: #ddd;
}

@media (max-width:600px) {
  body {
    overflow: auto;
  }
  table, table td, table tr, table th {
    display: block;
    text-align: left;
  }
  table th, table td {
    margin: 0;
    padding-left: 25px;
  }
  table td {
    margin-left: 40px;
    list-style: square;
    display: list-item;
    padding-left: 0;
  }
  table thead {
    display: none;
  }
  .hours {
    display: none;
  }
  td:empty {
    display: none;
  }
  table td {
    margin: 0;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  table {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }
  td::first-line {
    font-size: 1em;
  }
  table th[scope="day"] {
    text-align: center;
    font-size: 1.3em;
  }
}