table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;  
  font-weight:normal;
  font-family: Sans-Serif;
  text-align: center;
}
td, th {
  padding: 10px 1px;
}
body {
  overflow: hidden;
}
table {
  table-layout: fixed;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  
}

tr:hover {
  border-width: 2px;
}

/* 5. zad */

.navbar{
  position: relative;
}

ul {
  border: 1px solid #e7e7e7;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  display: block;
  font-family:  'Castoro', serif;
  font-size: 15px; 
  line-height: 1.5;
}

ul li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a.active {
  color: white;
  background-color: #008CBA;
}

li {
  float: left;
}

ul li a:hover:not(.active) {
  background-color: #ddd;
}
